div
    h2.title-message Последние сообщения
    textarea(name="name", cols="80", rows="8").old-message
    .my-message 
        input(type="text" name="text").unput-message
        button(type="button" name="button").btn-submit send